<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><h3><i>Notes</i></h3></a>
        <ul class="navbar-nav ml-auto">
            <% if(!isAuthenticated){ %> 
            <li class="nav-item">
                <a class=" btn btn-outline-light" href="/login">Login</a>
            </li>
        <% }else{ %> 
            <li class="mx-4 nav-item">
                <a href="/" class="btn btn-outline-light">Home</a>
            </li>
            <li class=" nav-item">
                <a href="/logout" class=" btn btn-outline-light">Logout</a>
            </li>
        <% } %> 
        </ul>
    </div>
</nav>